{{! //////////////////////////////////////////////////////////////// }}
{{!  /src/views/carts.handlebars -  HTML con sintaxis de Handlebars   }}
{{! //////////////////////////////////////////////////////////////// }}

<html>
  <head>
    <title>{{title}}</title>
    <script src='https://unpkg.com/sweetalert/dist/sweetalert.min.js'></script>
    <link rel='stylesheet' href='/css/{{style}}' />
  </head>
  <body>
    <div class='container pt-3 text-center'>
      <div class='d-flex align-items-center justify-content-center'>
        <img class='pe-2' src='/img/cart.svg' alt='cart' />
        <h1 class='text-center'>Cart</h1>
      </div>
      <div class='text-center'>
        <p class='font_id'><span class='fw-bold'>Cart ID: </span> <span id='cartId'>{{cartId}}</span></p>
      </div>
      <h3 class='text-center pb-2 pt-2'>Productos en el carrito</h3>

      <div class='table-responsive'>
        <table class='table table-bordered table-striped'>
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Código</th>
              <th>Categoría</th>
              <th>Cantidad</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            {{#each carts}}
              {{#each this.products}}
                <tr>
                  <td>{{this.productId._id}}</td>
                  <td>{{this.productId.title}}</td>
                  <td>{{this.productId.description}}</td>
                  <td>{{this.productId.code}}</td>
                  <td>{{this.productId.category}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.productId.price}}</td>
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class='text-center mt-2 mb-4'>
        <a class='btn btn-dark' href='http://localhost:8080/products' role='button'>Ir a Productos</a>
      </div>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/carts/index.js'></script>
  </body>
</html>